<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
</script>
  
<div class="container">
  <div class="row">  
    <div class="col-lg-9">
      <strong>Itinerary planner</strong>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true'>
          <!--<ui-gmap-layer namespace="weather" type="WeatherLayer" show="true"></ui-gmap-layer>
          <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="true"></ui-gmap-layer>-->
          <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" 
            click="onMarkerClicked" modelsbyref="true" doCluster="false" fit="true" >
          </ui-gmap-markers>       
      </ui-gmap-google-map>
    </div>
    
    <div class="col-lg-3">
      <div ng-if="chatUsers.length > 0">
        <label>Estimated Price ${{totalPrice}} based on roundtrip from {{currentPerson.location}} <br /><br /> Trip Planned by</label>
        <p>
          <span ng-repeat="user in chatUsers">{{user.name}} <br /></span>
        </p>
      </div>
      
      <form class="thing-form">
        <label>Places to go:</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new place here." ng-model="newPlaceName" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addPlace()">Add Place</button>
          </span>
        </p>
      </form>

      <uib-accordion close-others="oneAtATime">
          <uib-accordion-group heading="{{group.title}} ${{group.price}}" is-open="true" is-disabled="false" ng-repeat="group in map.markers">
            
            <div>
              <button class="btn btn-default" type="button" ng-click="updatePlace(group._id)"><i class="glyphicon glyphicon-upload"></i> </button>
              <button class="btn btn-default" type="button" ng-click="updatePlace(group._id)"><i class="glyphicon glyphicon-download"></i> </button>
            </div>
                                   
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Number of days" ng-model="group.lengthOfStay">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="updatePlace(group._id)"><i class="glyphicon glyphicon-ok"></i></button>
              </span>
              <span class="pull-right">
                <button class="btn btn-danger" type="button" ng-click="removePlace(group._id)"><i class="glyphicon glyphicon-remove"></i></button>
              </span>
            </div><!-- /input-group -->
    
          </uib-accordion-group>
      </uib-accordion>
        
    </div>    
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Trip Planner</p>
  </div>
</footer>
