<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">  
    <div class="col-lg-9">
      <strong>Itinerary planner</strong>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true'>
          <!--<ui-gmap-layer namespace="weather" type="WeatherLayer" show="true"></ui-gmap-layer>
          <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="true"></ui-gmap-layer>-->
          <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="onMarkerClicked" modelsbyref="true" doCluster="false" >
          </ui-gmap-markers>       
      </ui-gmap-google-map>
    </div>
    
    <div class="col-lg-3">
      <strong>Places to go:</strong> <br />
      <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new place here." ng-model="newPlaceName" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addPlace()">Add Place</button>
          </span>
        </p>
      </form>

      <uib-accordion close-others="oneAtATime">
          <uib-accordion-group heading="{{group.title}}" is-open="true" is-disabled="false" ng-repeat="group in map.markers">
            {{group.title}}
          </uib-accordion-group>
      </uib-accordion>
        
    </div>    
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Trip Planner</p>
  </div>
</footer>
